/* You can add global styles to this file, and also import other style files */

/* styles.scss */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #000000;
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  
  a {
    color: #ffffff;
    text-decoration: none;
  
    &:hover {
      text-decoration: underline;
    }
  }
  
  .component {
    position: relative;
  }